:root {
  --primary-color: #fff;
  --secundary-color: #7a1111;
  --secundary-plus-dark: #660d0d;
  --backgrond-form: #f9f9f9;
  --text-color: #000;
  --dourado: #B8860B;
  --shadow: #464646;
  --text-color-nav:#fff;
  --button-toogle :#000000;
  --table-line-color: #fff;
}

* {
  margin: 0%;
  padding: 0%;
  list-style: none;
  font-family: 'Times New Roman', Times, serif;

}

/* botão themeMode */

body {
 transition: background-color 0.3s, color 0.3s;
}

body.dark {
  --primary-color: #121212;
  --text-color: #ffffff;
  --backgrond-form: #464646; 
  --text-color-nav:#fff; 
  --icon-Perfil :#fff;
  --button-toogle :var(--dourado);
  --table-line-color: #ffffff;


}
body.light {
  --primary-color: #fff;
  --text-color: #000;
  --backgrond-form: #f9f9f9;
  --text-color-nav:#fff;
  --icon-Perfil : #fff;
  --button-toogle :transparent;
  --table-line-color: #b4b4b4;

}


* {
  padding: 0;
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
  font-style: none;
}

body{
  background-color: var(--primary-color);
  color: var(--text-color);
}

a {
  outline: none;
  text-decoration: none;
  color: var(--text-color);
}

main {
  margin-top: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.dados {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border: #b8b8b8 solid;
  border-radius: 10px;
  padding: 10px;
}
.dados h1{
  margin: 0;
}
.dados p {
  text-align: center;
  margin: 0;
}

.dados #empresas {
  text-align: center;
  margin: 0%;
}

.variacao {

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 80%;
  margin-top: 5%;

}

.alta {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.baixa {
  display: flex;
  flex-direction: column;
  align-items: center;
}

table {
  width: 100%;
  max-width: 650px;
  border-collapse: collapse;
  /* Remove espaços entre as células */
  margin-bottom: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  /* Adiciona sombra sutil à tabela */
  font-family: 'Arial', sans-serif;
}

th,
td {
  padding: 8px 8px;
  text-align: left;
  font-style: none;
  color: var(--text-color);
}

#tabelaAltas th {
  background-color: #4CAF50;
  color: var(--text-color);
  font-size: 16px;
  text-transform: uppercase;
  border-top: 1px solid var(--table-line-color);
  border-bottom: 2px solid var(--table-line-color);
}

#tabelaBaixas th {
  background-color: #c54c4c;
  color: var(--text-color);
  font-size: 16px;
  text-transform: uppercase;
  border-top: 1px solid var(--table-line-color);
  border-bottom: 2px solid var(--table-line-color);
}

td {
  background-color: var(--backgrond-form)!important;
  /* Cor de fundo das células */
  border-bottom: 1px solid var(--table-line-color);
  /* Borda inferior das células */
  color: var(--text-color)!important;
}



/* Estilo para a última linha da tabela */
tbody tr:last-child {
  border-bottom: 2px solid var(--table-line-color);
}

/* Adicionando borda e arredondando os cantos da tabela */
table {
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid var(--table-line-color);
  color: var(--text-color)!important;
}

/* Estilo para as bordas das células */
th,
td {
  border-right: 1px solid var(--table-line-color);
}



/* Adiciona um espaçamento extra entre as tabelas */
#tabelaAltas,
#tabelaBaixas {
  margin-top: 20px;
}

@media (max-width : 1000px) {

  #navCima{
    overflow-y: auto;
  }

  #navPrincipal{
    overflow-y: auto;
  }
}

