:root {
  --primary-color: #fff;
  --secundary-color: #7a1111;
  --secundary-plus-dark: #660d0d;
  --backgrond-form: #f9f9f9;
  --text-color: #000;
  --dourado: #B8860B;
  --shadow: #464646;
  --text-color-nav:#fff;
  --button-toogle :#000000;
}

* {
  margin: 0%;
  padding: 0%;
  list-style: none;
  font-family: 'Times New Roman', Times, serif;

}

/* botão themeMode */

body {
 transition: background-color 0.1s, color 0.1s;
}

body.dark {
  --primary-color: #121212;
  --text-color: #ffffff;
  --backgrond-form: #464646; 
  --text-color-nav:#fff; 
  --icon-Perfil :#fff;
  --button-toogle :var(--dourado);

}
body.light {
  --primary-color: #fff;
  --text-color: #000;
  --backgrond-form: #f9f9f9;
  --text-color-nav:#fff;
  --icon-Perfil : #fff;
  --button-toogle :transparent;



}



/* main */
body{
  background-color: var(--primary-color);
}
main{
    display: flex;
    flex-direction: column;
    max-width: 70%;
    align-items: center;
    justify-content: center;
    margin-left: 10%;
    background-color: var(--primary-color);
    color: var(--text-color);
}
.title {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 3%;
}

.acoes  {
    display: flex;
    margin-top: 5%;
    flex-direction: column;
    margin-left: 10%;
    border-bottom: solid 3px var(--dourado)!important ;
    border-top: solid 3px var(--dourado)!important ;
    padding-bottom: 30px;
    padding-top: 30px;
}
.informacoes  {
    display: flex;
    margin-top: 5%;
    flex-direction: column;
    border-bottom: solid 3px var(--dourado)!important ;
    padding-bottom: 30px;
    width: 80%;
}
.dicas  {
    display: flex;
    margin-top: 5%;
    flex-direction: column;
    border-bottom: solid 3px var(--dourado)!important ;
    padding-bottom: 30px;
    width: 80%;
}

.acoes .tipoAcao{
    margin-top: 15px;
    font-size: large;
    
}
.informacoes .tipoDado {
    margin-top: 15px;
    font-size: large;
    
}
.dicas .tipoDica {
    margin-top: 15px;
    font-size: large;
    
}

@media (max-width : 1000px) {

  #navCima{
    overflow-y: auto;
  }

  #navPrincipal{
    overflow-y: auto;
  }
}