:root {
    --primary_color: #80cab6;
    --secoundary_color: #00796F;
    --third_color: #e2f3ee;
    --text_color: black;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

body {
    background-color: var(--third_color);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    overflow-y: hidden;
}

header{
    width: 100%;
}

main {
    min-height: 87vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: baseline;
}

/* apartir disto é para o funcionamento do perfil */

.perfilClose {
    position: fixed;
    /* Mantém a div sobreposta ao conteúdo */
    bottom: 0;
    /* precisa para ficar abaixo */
    left: 50%;
    /* precisa para ficar centrado */
    transform: translateX(-50%) translateY(85%);
    /* Inicialmente oculta abaixo */
    width: 95%;
    height: 87vh;
    /* Ajuste para um tamanho menor que a tela */
    max-height: 1000px;
    /* Garante que não fique muito grande */
    background-color: var(--primary_color);
    border-radius: 30px;
    border: 1px solid  black;
    
    transition: transform 0.4s ease-in-out;/* como exatamente funciona  */
    z-index: 1000;
    /* Mantém acima dos outros elementos */
}

.perfilOpen {
    transform: translateX(-50%) translateY(-5vh);
    /* Move para cima, quase cobrindo o <main> */

}

.buttonContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

#btnPerfil {
    position: relative;
    top: -45px;
    height: 100px;
    width: 100px;
    border-radius: 100%;
    background-color: var(--secoundary_color);
}

.blurOff {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(2px); /* Aplica o desfoque */
    z-index: 999; /* Mantém acima do conteúdo, mas abaixo do perfil */
    opacity: 0; /* Começa invisível */
    pointer-events: none; /* Não interfere nos cliques */
    transition: opacity 0.3s ease-in-out;
}

.blurOn {
    opacity: 1; /* Ativa o efeito de blur */
    pointer-events: all; /* Agora pode capturar cliques */
}
