:root {
    --primary_color: #80cab6;
    --secoundary_color: #00796F;
    --third_color: #e2f3ee;
    --text_color: black;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background-color: var(--primary_color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container {
    background-color: var(--third_color);
    padding: 5%;
    max-width: 900px;
    border-radius: 10px;
    padding-inline: 150px;
}

.inserts {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 25px;
}

#email,
#forget_password {
    margin-bottom: 30px;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
}

button {
    background-color: var(--primary_color) !important;
    size: 300px;
    color: var(--text_color) !important;
    font-size:20px !important;
}

button:hover {
    background-color: var(--secoundary_color) !important;
    border: none;
}

input {
    border-color: var(--primary_color) !important;
}

#forget_password {
    color: var(--secoundary_color)!important;
    text-decoration: none !important;
    display: flex;
    width: 25%;
    margin-left: 75%;

}