:root {
    --primary_color: #80cab6;
    --secoundary_color: #00796F;
    --third_color: #e2f3ee;
    --text_color: black;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#navbar{
    background-color: var(--third_color)!important;
    border-bottom: 1px solid var(--secoundary_color)!important;
    height: 75px;
}

img{
    max-height: 50px;
}

#inputSearch{
    width: 500px;
    border: 1px solid var(--secoundary_color)!important;
    border-right: none !important;
    background-color: var(--third_color);
}

#basic-addon2{
    border-radius: 0px 25px 25px 1px;
    border: 1px solid var(--secoundary_color)!important;
    border-left: none!important;
    background-color: var(--third_color);
}