:root {
    --primary_color: #80cab6;
    --secoundary_color: #00796F;
    --third_color: #e2f3ee;
    --text_color: black;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#navbar{
    background-color: var(--third_color)!important;
    border-bottom: 1px solid var(--secoundary_color)!important;
    height: 75px;
}

#logo{
    max-height: 50px;
}

#navbarDropdown{
font-size: 2rem;
width: 100%;
height: 100%;
}

#inputSearch{
    width: 800px;
    border: 1px solid var(--secoundary_color)!important;
    border-right: none !important;
    background-color: var(--third_color);
}

#inputSearch:focus {
    box-shadow: 0 0 10px var(--secoundary_color); /* Sombra azul quando em foco */
    border-color: var(--primary_color); /* Opcional: altera a cor da borda quando em foco */
}


#basic-addon2{
    border-radius: 0px 8px 8px 1px;
    border: 1px solid var(--secoundary_color)!important;
    border-left: none!important;
    background-color: var(--third_color);
}

#inputSearch,#basic-addon2{
    height: 50px;
    margin-top: 15px;
}

/* css do dropdown */
.dropdown-menu{/* da base inteira*/
    background-color: var(--primary_color);
    border-color: black;
    transform: translatey(90%);
    width:300px ;
}

.dropdown-item:hover{
    background-color: var(--third_color);
    transform: scale(1.05);
    transition: all ease-in 0.1s;
    border: solid 2px  var(--primary_color);
    border-radius: 5px;
}

.nav-link.dropdown-toggle::before{
    content: none;
}
